/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url(images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10%;
    padding: 0;
}
h1{
    color:#11e606 ;
    font-weight: bold;
    font-style : italic;
    font-variant: small-caps;
    text-align: center;
    font-size:3em;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #1ed7e8;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #a04553;
}

a {
    color: #0b0feb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}